<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4 in 1 Shopping</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='/css/style.css') }}"
    />
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navbar">
      <a href="#home" class="navbar-logo"
        ><span>4</span><span1>i</span1><span2>n</span2><span3>1</span3
        ><span4>Shopping</span4></a
      >

      <div class="navbar-nav">
        <a href="https://www.shopee.co.id">Shopee</a>
        <a href="https://www.tokopedia.com">Tokopedia</a>
        <a href="https://www.bukalapak.com">Bukalapak</a>
        <a href="https://www.lazada.co.id">Lazada</a>
      </div>

      <div class="navbar-extra">
        <a href="#footer" id="phone"><i data-feather="phone"></i></a>
        <!-- <a href="#" id="phone"><i data-feather="phone"></i></a> -->
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- Navbar end -->

    <!-- Hero Section start -->
    <section class="hero" id="home">
      <main class="content">
        <h1>Mari Berbelanja <span>Dimanapun Kapanpun</span></h1>
        <br>
        <div class="search-bar">
          <input type="search" id="search-bar" placeholder="Cari produk..." />
          <button class="search-button" onclick="submitForm()">Cari</button>
        </div>
      </main>
    </section>

    <!-- Hero Section end -->

    <!-- Loading Circle Popup -->
    <div id="loading-spinner" class="spinner-container">
      <div class="spinner"></div>
    </div>
    <!-- Loading Circle Popup -->
    
    <!-- Tabel Section Start -->

    <section id="tabel" class="tabel">

      <h2><span>Hasil</span> Pencarian<span>mu</span></h2>

      <!-- Filter -->

      <div class="filter">
        <label class="filterPrice" for="filterPrice">Urutkan Harga dari:</label>
          <select name="filterPrice" id="filterPrice" required>
            <option value="" disabled selected>Pilih Urutan</option>
            <option value="highest">Tertinggi</option>
            <option value="lowest">Terendah</option>
            <option value="">Tidak Memilih</option>
          </select>

        <label class="filterSold" for="filterSold">Urutkan Terjual dari:</label>
          <select name="filterSold" id="filterSold" required>
            <option value="" disabled selected>Pilih Urutan</option>
            <option value="highest">Tertinggi</option>
            <option value="lowest">Terendah</option>
            <option value="">Tidak Memilih</option>
          </select>

        <label class="rangePrice" for="rangePrice">Batas Harga:</label>
        <input class="minPrice" type="text" id="minPrice" name="minPrice" placeholder="Harga Minimum" oninput="formatPriceInput(this)" />
        
        <label class="dash" for="dash"></label>
        
        <input class="maxPrice" type="text" id="maxPrice" name="maxPrice" placeholder="Harga Maksimum" oninput="formatPriceInput(this)" />  
        
        <button class="filter-button" onclick="submitFilter()">Terapkan</button>
      </div>

      <div class="table-container">
        <table class="table" id="productTable">
          <thead>
            <tr>
              <th>Gambar</th>
              <th>Judul</th>
              <th>Harga</th>
              <th>Terjual</th>
              <th>Lokasi</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            {% if data %} {% for item in data %}
            <tr>
              <td>
                <img
                  src="{% if item.image == 'n' %} {{ url_for('static', filename='/img/default.png') }} {% else %} {{ item.image }} {% endif %}"
                  alt="{{ item.image }}"
                  width="100"
                />
              </td>
              <td>{{ item.title }}</td>
              <td>
                <span class="price" data-raw-price="{{ item.price }}"
                  >{{ item.price}}</span
                >
              </td>
              <td>{{ item.sold }}</td>
              <td>{{ item.location }}</td>
              <td>
                <a href="{{ item.link }}">
                  <img
                    src="{% if item.source == 'BUKALAPAK' %} {{ url_for('static', filename='/img/bukalapak.png') }} {% elif item.source == 'SHOPEE' %} {{ url_for('static', filename='/img/shopee.png') }} {% elif item.source == 'TOKOPEDIA' %} {{ url_for('static', filename='/img/tokopedia.png') }} {% elif item.source == 'LAZADA' %} {{ url_for('static', filename='/img/lazada.png') }} {% elif item.image == 'n' %} {{ url_for('static', filename='/img/default.png') }} {% else %} {{ url_for('static', filename='/img/default.png') }} {% endif %}"
                    alt="{{ item.source }}"
                    width="100"
                  />
                </a>
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="6">Belum ada Data, silahkan lakukan pencarian</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <div>

    </section>

    <!-- Tabel Section End -->

    <!-- Pagination Section Start -->
    
    <section id="pagination" class="pagination">
            <input
              type="number"
              id="page"
              name="page"
              min="1"
              max="17"
              step="1"
              value="1"
            />
            
          <button class="search-button" onclick="submitForm()">Cari</button>
    </section>
    
    <!-- Pagination Section Start -->

    <!-- Footer start -->
    <footer id="footer">
      <div class="socials">
        <a href="https://wa.me/085282839267"
          ><i data-feather="phone"></i> +62 852 8283 9267</a
        >
        <a href="https://www.instagram.com/akbar.maullanaa"
          ><i data-feather="instagram"></i> @akbar.maullanaa</a
        >
        <a href="mailto:yusufakbarmaulana@gmail.com"><i data-feather="mail"></i> yusufakbarmaulana@gmail.com</a>
      </div>

      <div class="links">
        <a href="https://www.shopee.co.id">Shopee</a>
        <a href="https://www.tokopedia.com">Tokopedia</a>
        <a href="https://www.bukalapak.com">Bukalapak</a>
        <a href="https://www.lazada.co.id">Lazada</a>
      </div>

      <div class="credit">
        <p>Created by <a href="">Akbar Maulana Yusuf</a>. | &copy; 2023.</p>
      </div>
    </footer>
    <!-- Footer end -->

    <!-- My Javascript -->
    <script src="{{ url_for('static',filename='/js/script.js') }}"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
